version: '3.8'

services:
  db-mysql:
    image: mysql:5.7.37
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_USER=baha
      - MYSQL_PASSWORD=BaHa12062000
      - MYSQL_ROOT_PASSWORD=BaHa1206
      - MYSQL_DATABASE=motivation
    ports:
      [3306:3306]

  app-motivation:
    container_name: motivations
    build: .

    command: sh -c " python motivator/manage.py migrate && python motivator/manage.py runserver 0.0.0.0:9000"

    depends_on:
      - db-mysql

    volumes:
      - ./motivator:/motivator_motivations

    ports:
      [9000:9000]

volumes:
  mysql_data:
  motivator:

networks:
  default:
    external:
      name: motivation-network
