{% extends 'base.html' %}

{% block content %}
   <h1>Домашняя страница</h1>
   <hr>

{% comment %} {% if user.is_authenticated %} {% endcomment %}
{% if random_motivation %}
   {% for el in random_motivation %}
      <div class='alert alert-warning mt-4'>
         <h4>{{ el.nickname }}</h4>
         <h6>{{ el.motivation }}</h6>
      </div>
   {% endfor %}
{% else %}
      <p>Записи отсутствуют</p>
{% endif %}
{% comment %} {% else %}
   <h6 class='alert alert-success mt-4'>Для того, чтобы получить мотивацию, авторизуйтесь</h6>
   <a href={% url 'login' %} class='btn btn-success mt-4'>Авторизоваться</a>
{% endif %} {% endcomment %}
{% endblock  %}