{% extends 'base.html' %}

{% block content %}

{% if page_obj %}
      {% for el in page_obj %}
         <div class='alert alert-warning mt-4'>
            <h4>{{ el.nickname }}</h4>
            <h6>{{ el.motivation }}</h6>
         </div>
      {% endfor %}
   {% else %}
         <p>Записи отсутствуют</p>
{% endif %}

<div class='pagination'>
   <span class='step-links'>
      {% if page_obj.has_previous %}
         <a href='?page=1'>&laquo; Первая страница</a>
         <a href='?page={{ page_obj.previous_page_number }}'>Предыдущая страница</a>
      {% endif %}

   <span class='current'>
      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
   </span>

   {% if page_obj.has_next %}
      <a href='?page={{ page_obj.next_page_number }}'>Следующая страница</a>
      <a href='?page={{ page_obj.paginator.num_pages }}'>Последняя страница &raquo;</a>
   {% endif %}
            
   </span>
</div>
{% endblock  %}
